.singUp-box{
  width: 375px;
  height: 812px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 1px solid #eeeeee;
  padding: 10px;
  padding-bottom: 40px;
  background-color: #F7F8F9;
}
.forms{
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.forms h1{
    font-size: 3rem;
}



.formup{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
#yes, #no{
    width: 23px;
}
